.content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dataTable{
  
   
}
#createUserModal,#changeRoleModal,#changePwdModal,#changeNameModal{
    .modal-content{
        width: 400px;
        .modal-body{
            label{
                width: 4em;
            }
            
        }

    }
    
}
.tipText{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #FF2424;
    font-size: 14px;
}

