.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    .contentForm{
  
      
        .form-group{
           
            #userName{
                margin-right: 60px;
            }
        
        }
       
    }
    .dataTable{
 
        .forbid{
            color: #FF2424;
            img{
                width: 14px;
                vertical-align: middle;
            }
        }
     
       
    }
}



// #forbidModal{
//     .modal-content{
//         width: 400px;
//         .modal-body{
//             form{
//                 span{
//                     width: 7rem;
//                 }
//                 textarea{
           
//                     height: 160px;
//                 }
//                 .forbidTip{
//                     color: #FF2424;
//                     font-size: 14px;
//                     height: 20px;
//                 }
//                 .forbidReason{
//                     position: relative;
//                     .reasonLength{
//                         position: absolute;
//                         bottom: 0;
//                         color: #333;
//                         font-size: 14px;
//                         right: 20px;
//                         width: auto;
//                     }
//                 }
//             }


//         }
      
        
        
//     }
   
   
   
// }