.content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dataTable{
   
   
}
.mapLogo{
    width: 21px;
}
#addDeviceModal{
    .modal-content{
        width: 400px;
        #tipText{
            display: inline-block;
            height: 20px;
            line-height: 20px;
            color: #FF2424;
            font-size: 14px;
        }
        label{
            width: 6em;
        }
    }
    
   
}
#mapModal{
    .modal-content{
        width: 800px;

        #container{
            width: 100%;
            height: 500px;
        }

    }
   

}