<div class="content">
  <form class="contentForm row" #searchVillageForm="">
    <div class="form-group col-3 inputStart">
      <label for="village">小区名称：</label>
      <input type="text" class="" name="village" #village="ngModel" [(ngModel)]="searchVillageInfo.villageName"
        placeholder="">

    </div>
    <div class="form-group col-6 inputCenter">
      <label for="province">省份：</label>
      <select class="" name="province" #province="ngModel" placeholder="省" [(ngModel)]="searchVillageInfo.provinceId"
        (ngModelChange)="getCity()">
        <option value="">省</option>
        <option *ngFor="let province of provinceList" value="{{province.region_id}}">{{province.region}}</option>

      </select>
      <label for="city">城市：</label>
      <select class="" name="city" #city="ngModel" placeholder="市" [(ngModel)]="searchVillageInfo.cityId"
        (ngModelChange)="getDistrict()">
        <option value="">市</option>
        <option *ngFor="let city of cityList" value="{{city.city_id}}">{{city.city}}</option>
      </select>
      <label for="district">区：</label>
      <select class="" name="district" [(ngModel)]="searchVillageInfo.districtId" #district="ngModel" placeholder="区">
        <option value="">区</option>
        <option *ngFor="let district of districtList" value="{{district.district_id}}">{{district.district}}</option>

      </select>
    </div>

    <div class="form-group col-3 inputEnd">
      <label for="type">创建类型：</label>

      <select class="" class="" name="type" #type="ngModel" [(ngModel)]="searchVillageInfo.type" placeholder="">
        <option value="">所有类型</option>
        <option value="后台创建">后台创建</option>
        <option value="用户申请">用户申请</option>
      </select>
    </div>
    <div class="form-group col-12 inputEnd">
      <button type="button" class="mButton mButtonGreen" (click)="getVillageList()">查询</button>
      <button type="button" (click)="openAddVillage()" class="mButton mButtonGreen">新增小区</button>

    </div>
  </form>
  <div class="dataTable">
    <p class="tableTitle">城市列表</p>
    <table class="table ">
      <thead>
        <tr>
          <th>小区名称</th>
          <th>省</th>
          <th>城市</th>
          <th>区</th>
          <th>创建类型</th>
          <th>创建时间</th>

        </tr>

      </thead>
      <tbody *ngIf="this.total==0">
        <tr>
          <td colspan="6">
            <p *ngIf="loading==false" class="noData">暂无数据······</p>
            <p *ngIf="loading==true" class="noData">加载中······</p>
          </td>

        </tr>

      </tbody>
      <tbody *ngIf="this.total!=0">

        <tr *ngFor="let village of villageList">
          <td>{{village.community}}</td>
          <td>{{village.region}}</td>
          <td>{{village.city}}</td>
          <td>{{village.district}}</td>
          <td>{{village.type}}</td>
          <td>{{village.created_at |date:"y-M-dd HH:mm:ss"}} </td>

        </tr>
        <tr>
          <td colspan="6" class="navRow">
            <span>
              <!-- 当前显示{{(page_index-1)*10+1}}到{{(page_index-1)*10+userList.length}}项， -->
              共{{total}}条记录
              <!-- ，共{{totalPage}}页 -->
            </span>

            <nav aria-label="Page navigation example">
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">

                <li class="page-item" [ngClass]="{disabled:pager.currentPage == 1}">
                  <a class="page-link preIcon" (click)="setPage(pager.currentPage - 1)">

                  </a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage == page}">
                  <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                  <a class="page-link nextIcon" (click)="setPage(pager.currentPage + 1)">
                  </a>
                </li>

                <li class="page-item">
                  <span>到 </span>

                </li>
                <li class="page-item">
                  <input type="text" class="" id="pageNumber" name="pageNumber" #pageNumber
                    value="{{pager.currentPage}}">
                </li>
                <li class="page-item">
                  <span> 页 </span>
                </li>
                <li class="page-item">
                  <button type="button" class="pageSearch" (click)="setPage(pageNumber.value)">确认</button>
                </li>

              </ul>

            </nav>

          </td>
        </tr>

      </tbody>
    </table>
    <div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog" aria-labelledby="changeNameModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="alert-header">

            <h4 class="modal-title" id="changeNameModalLabel">反馈详情
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>

            </h4>
          </div>
          <div class="modal-body">
            <table>
              <tbody>
                <tr>
                  <td>用户名：</td>
                  <td>陈奕迅</td>
                </tr>
                <tr>
                  <td>手机号：</td>
                  <td>13311112222</td>
                </tr>
                <tr>
                  <td>反馈内容：</td>
                  <td>闪退闪退闪退闪退闪退闪退闪退闪退闪退闪退闪退闪退闪退</td>
                </tr>
                <tr>
                  <td>图片：</td>
                  <td>
                    <img src="assets/img/loginLogo.png" alt="">
                  </td>
                </tr>
                <tr>
                  <td>创建时间：</td>
                  <td>2019-10-21 17:52：00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addVillageModal" tabindex="-1" role="dialog" aria-labelledby="addVillageModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="alert-header">

          <h4 class="modal-title" id="addVillageModalLabel">新增小区
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true"></span></button>

          </h4>
        </div>
        <div class="modal-body">
          <div id="tipText" #tipText>

          </div>
          <form class="form-inline" #addVillageForm="ngForm">
            <div class="form-group">
              <label for="addProvince">省份：</label>
              <select class="" name="addProvince" #addProvince="ngModel" placeholder="省"
                [(ngModel)]="addVillageInfo.provinceId" (ngModelChange)="getCity('add')">
                <!-- <option  value="">省</option> -->
                <option *ngFor="let province of provinceList" value="{{province.region_id}}">{{province.region}}
                </option>

              </select>

            </div>
            <div class="form-group">
              <label for="addCity">城市：</label>
              <select class="" name="addCity" #addCity="ngModel" placeholder="市" [(ngModel)]="addVillageInfo.cityId"
                (ngModelChange)="getDistrict('add')">
                <!-- <option selected="selected"  value="">市</option> -->
                <option *ngFor="let city of cityList" value="{{city.city_id}}">{{city.city}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="addDistrict">区：</label>
              <select class="" name="addDistrict" [(ngModel)]="addVillageInfo.districtId" #addDistrict="ngModel"
                placeholder="区">
                <!-- <option selected="selected" value="">区</option> -->
                <option *ngFor="let district of districtList" value="{{district.district_id}}">{{district.district}}
                </option>

              </select>
            </div>
            <div class="form-group">
              <label for="addVillageName" class="">小区名：</label>
              <input type="text" class="" name="addVillageName" #addVillageName="ngModel"
                [(ngModel)]="addVillageInfo.villageName" placeholder="请输入小区名">
            </div>
          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="mButton mButtonGreen" (click)="addVillage()">确定</button>
          <button type="button" class="mButtonGreen mButtonGray" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>

</div>