.content{
    display: flex;
    flex-direction: column;
   
   
}

.dataTable{
   
    
}

.tipText{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #FF2424;
    font-size: 14px;
}
#addMouldModal{
    .modal-body{
        form{
            height: auto;
        }
    }
}
